@model IEnumerable<ClassView>
@if(Model != null){
    foreach(var item in Model){
        <div class="card m-3">
            <div class="card-header">
                <div class="card-title">@item.ClassId - @item.ClassName</div>
            </div>
            <div class="card-body">
                <table class="table table-borderd">
                    <thead class="table-dark">
                        <tr>
                            <th>Id</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Gender</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var o in item.StudentViews){
                            <tr>
                                <td>@o.StudentId</td>
                                <td>@o.FirstName</td>
                                <td>@o.LastName</td>
                                <td>@o.Email</td>
                                <td>@o.Gender</td>
                                <td>@o.Score</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                @item.Average
            </div>
        </div>
    }
}
<script>$($('.navbar-nav .nav-item .nav-link')[0]).addClass('active');</script>